<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appschool.bagrutproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Shaked.ActionBootCompleted">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".MainIlan" />
        <activity android:name=".MainShaked" />
        <activity android:name=".MainEli" />
        <activity android:name=".Shaked.BatteryChanged" />
        <activity android:name=".Shaked.BatteryLow" />
        <activity android:name=".Shaked.BatteryOkay" />
        <activity android:name=".Shaked.ActionPowerConnected" />
        <activity android:name=".Shaked.ActionPowerDisconnected" />
        <activity android:name=".Shaked.ActionShutDown" />
        <activity android:name=".Shaked.AirplaneMode" />
        <activity android:name=".Shaked.USBConnected" />
        <activity android:name=".Classes_OF_Eli_De_Shpitz.List_Activity" />
        <activity android:name=".Classes_OF_Eli_De_Shpitz.ChatActivity" />
        <activity android:name=".Shaked.BroadcastList" />
    </application>

</manifest>